@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin btn-line {
  display: block;
  width: 20px;
  height: 2px;
  background: #ffffff;
  position: absolute;
  left: calc(50% - 10px);
}

@mixin rotate-line {
  top: 18px;
  left: 10px;
}

@mixin dish-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -7px;
  right: 0;
}